@page "/TypeForge"
@model TypeForge.AspNetCore.Pages.TypeForge

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
    <div>
                     <h1>@Model.Message</h1>
<h3>HELLO</h3>
    </div>
</body>
</html>